/*
OnlineOpinion v5.7
Released: 3/6/2013. Compiled 03/06/2013 01:59:16 PM -0600
Branch: master 8d549bbb6d7ff935b4572cf4e62e305e6cd843d7
Components: Full
The following code is Copyright 1998-2013 Opinionlab, Inc.  All rights reserved. Unauthorized use is prohibited. This product and other products of OpinionLab, Inc. are protected by U.S. Patent No. 6606581, 6421724, 6785717 B1 and other patents pending. http://www.opinionlab
*/
#oo_feedback_fl_spacer { display: block; height: 1px; position: absolute; top: 0; width: 100px; }

.oo_feedback_float { width: 100px; height: 50px; overflow: hidden; font: 12px Tahoma, Arial, Helvetica, sans-serif; text-align: center; color: #252525; cursor: pointer; z-index: 999997; position: fixed; bottom: 5px; border: 1px solid #cccccc; border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px; right: 10px; -webkit-transition: -webkit-transform 0.3s ease; }
.oo_feedback_float .screen_reader { color: transparent; display: block; position: relative; height: 0; width: 0; line-height: 0; overflow: hidden; }
.oo_feedback_float .olUp { width: 100%; height: 100%; background: url(oo_float_icon.gif) center 10px no-repeat; text-align: center; padding: 31px 0 5px 0; position: relative; z-index: 2; filter: alpha(opacity=100); opacity: 1; transition: opacity 0.5s; -moz-transition: opacity 0.5s; -webkit-transition: opacity 0.5s; -o-transition: opacity 0.5s; }
.oo_feedback_float .olUp img { margin-bottom: 5px; }
.oo_feedback_float .oo_transparent { display: block; background: white; position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 1; opacity: 0.8; filter: alpha(opacity=80); border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
.oo_feedback_float:hover .oo_transparent { opacity: 1.0; filter: alpha(opacity=100); }
.oo_feedback_float:hover .olUp { display: block; opacity: 0; filter: alpha(opacity=0); }
.oo_feedback_float .fbText { display: block; }
.oo_feedback_float .olOver { display: block; height: 100%; width: 100%; position: absolute; top: 0; left: 0; min-height: 50px; z-index: 2; opacity: 0; filter: alpha(opacity=0); transition: opacity 0.5s; -moz-transition: opacity 0.5s; -webkit-transition: opacity 0.5s; -o-transition: opacity 0.5s; }
.oo_feedback_float .olOver span { display: block; padding: 10px 5px; }
.oo_feedback_float:hover .olOver { opacity: 1.0; filter: alpha(opacity=100); top: 0; }

.oo_cc_wrapper { left: 0; padding: 0; position: fixed; text-align: center; top: 25px; width: 100%; z-index: 999999; }
.oo_cc_wrapper .screen_reader { color: transparent; display: block; position: relative; height: 0; width: 0; line-height: 0; overflow: hidden; }
.oo_cc_wrapper span { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1; }
.oo_cc_wrapper .iwrapper { background-color: white; margin: 0 auto; position: relative; width: 535px; z-index: 2; box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px; }
.oo_cc_wrapper iframe { position: relative; border: none; width: 100%; z-index: 4; }
.oo_cc_wrapper .oo_cc_close { position: absolute; display: block; background: white; height: 20px; width: 20px; border: 1px solid #cccccc; cursor: pointer; right: -12px; top: -9px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; transition: background 0.5s; -moz-transition: background 0.5s; -webkit-transition: background 0.5s; -o-transition: background 0.5s; font: 14px/20px Tahoma, Arial, Helvetica, sans-serif; text-align: center; z-index: 5; color: #252525; text-decoration: none; }
.oo_cc_wrapper .oo_cc_close:hover { background: #eeeeee; }

.oo_bar { padding-bottom: 22px; }

#oo_bar { cursor: pointer; color: #252525; border-top: 1px solid #cccccc; background: #ffffff; bottom: 0; display: block; font: 12px Tahoma, Arial, Helvetica, sans-serif; height: 22px; left: 0; line-height: 22px; position: fixed; text-align: left; width: 100%; z-index: 999997; -webkit-transition: -webkit-transform 0.3s ease; transition: background 0.5s; -moz-transition: background 0.5s; -webkit-transition: background 0.5s; -o-transition: background 0.5s; }
#oo_bar:hover { background: #eeeeee; }
#oo_bar .screen_reader { color: transparent; display: block; position: relative; height: 0; width: 0; line-height: 0; overflow: hidden; }
/*#oo_bar span { background: url(oo_bar_icon.gif) left no-repeat; display: block; margin: 0 15px; height: 100%; padding-left: 17px; }*/

#oo_tab { background-color: #3F9C35; border: 2px solid #ffffff; display: block; position: fixed; top: 40%; padding: 57px 0px 55px 0px; _height: 110px; _padding: 0px; _top: 45%; width: 35px; z-index: 999995; cursor: pointer; }
#oo_tab span {bottom: -44px; _bottom: -44px; display: block; background: url(oo_tab_icon.gif) no-repeat; background: url(oo_tab_icon_ie.gif)\9 no-repeat; height: 48px; position: absolute; width: 50px; transform: translate3d(0,0,0) scale(0.5); -ms-transform: translate3d(0,0,0) scale(0.5); -webkit-transform: translate3d(0,0,0) scale(0.5); -webkit-filter: blur(0); bottom: 15px\9; _bottom: 5px\9; height: 9px\9; position: absolute\9; width: 9px\9;}
#oo_tab div { background-image: url(oo_tab.png); background-image: url(oo_tab_ie.png)\9; position: absolute; display: block; height: 125%; left: -2px; top: -24px; width: 100%; transform: translate3d(0,0,0) scale(0.5); -ms-transform: translate3d(0,0,0) scale(0.5);-webkit-transform: translate3d(0,0,0) scale(0.5);-webkit-filter: blur(0); position: absolute\9; display: block\9; height: 100%\9; left: 0\9; top: 0\9; width: 100%\9;}
#oo_tab.wcag a { background: url(oo_tab_icon.gif) no-repeat; background-repeat: no-repeat; background-position: center bottom; border: none; outline: none; position: absolute; display: block; bottom: 15px; left: -6px; top: 0; width: 100%; }
#oo_tab.wcag img { border: none; outline: none; display: block; position: absolute; left: 0; top: -10px; }
#oo_tab .screen_reader { color: transparent; display: block; position: relative; height: 0; width: 0; line-height: 0; overflow: hidden; }

.oo_tab_left { left: -13px; border-radius: 0px 9px 9px 0px; -moz-border-radius: 0px 9px 9px 0px; -webkit-border-radius: 0px 9px 9px 0px; transition: left 0.5s; -moz-transition: left 0.5s; -webkit-transition: left 0.5s; -o-transition: left 0.5s; background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#eeeeee), to(white)); background-image: -webkit-linear-gradient(left, #eeeeee, white); background-image: -moz-linear-gradient(left, #eeeeee, white); background-image: -ms-linear-gradient(left, #eeeeee, white); background-image: -o-linear-gradient(left, #eeeeee, white); background-image: linear-gradient(left, #eeeeee, white); }
.oo_tab_left span { right: 6px; }
.oo_tab_left div { background-position: 6px -10px; }
.oo_tab_left:hover { left: -5px; }

.oo_tab_right { right: -13px; border-radius: 5px 0px 0px 5px; -moz-border-radius: 5px 0px 0px 5px; -webkit-border-radius: 5px 0px 0px 5px; transition: right 0.5s; -moz-transition: right 0.5s; -webkit-transition: right 0.5s; -o-transition: right 0.5s; background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#3F9C35), to(#3F9C35)); background-image: -webkit-linear-gradient(left, #3F9C35, #3F9C35); background-image: -moz-linear-gradient(left, #3F9C35, #3F9C35); background-image: -ms-linear-gradient(left, #3F9C35, #3F9C35); background-image: -o-linear-gradient(left, #3F9C35, #3F9C35); background-image: linear-gradient(left, #3F9C35, #3F9C35); opacity: 0.6; filter: alpha(opacity=60);}
.oo_tab_right span { left: -10px; left: 7px\9; }
.oo_tab_right div { background-position: -25px -48px; background-position: -6px -10px\9;}
.oo_tab_right:hover { right: -5px; opacity: 1.0; filter: alpha(opacity=100);}

.oo_tab_ie_right { border-right: none !important; right: 1px; width: 25px !important; }
.oo_tab_ie_right:hover { right: 6px; width: 30px !important; }

#oo_tab.oo_tab_ie67_right.wcag { overflow: hidden !important; right: 0px !important; width: 26px !important; }
#oo_tab.oo_tab_ie67_right.wcag:hover { right: 0px !important; width: 31px !important; }
#oo_tab.oo_tab_ie67_right.wcag a { background: none; z-index: 1; }
#oo_tab.oo_tab_ie67_right.wcag .screen_reader { bottom: 15px; display: block; background: url(oo_tab_icon.gif) no-repeat; height: 9px; width: 9px; position: absolute; left: 7px; top: auto; z-index: 9999; }

#oo_container { position: fixed; height: 100%; width: 100%; top: 0; left: 0; z-index: 999999; }

html body #oo_invitation_prompt { background: white; box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px; -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px; border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px; color: #252525; font: 14px/20px Tahoma, Arial, san-serif; line-height: 20px; margin: 50px auto; text-align: left; padding: 20px 10px; position: relative; width: 350px; z-index: 999999; }
html body #oo_invitation_prompt h1 { font-size: 24px; font-weight: 100; margin-bottom: .6em; }
html body #oo_invitation_prompt p { margin-bottom: 1.5em; }
html body #oo_invitation_prompt #prompt_buttons { padding-bottom: 15px; position: relative; z-index: 5; }
html body #oo_invitation_prompt #oo_launch_prompt { text-decoration: none; color: white; border: 1px solid #006633; padding: 5px 11px; margin-right: 17px; }
html body #oo_invitation_prompt #oo_no_thanks { text-decoration: none; color: #252525; border: 1px solid #cccccc; padding: 5px 11px; margin-right: 18px; }
html body #oo_ol_brand { display: block; height: 22px; }

/*#oo_ol_brand { background: url(oo_inv_opinionlab.png) bottom right no-repeat; border-top: 1px solid #cccccc; }*/

#oo_invitation_prompt a { background: white; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; transition: background 0.5s; -moz-transition: background 0.5s; -webkit-transition: background 0.5s; -o-transition: background 0.5s; }
#oo_invitation_prompt a:hover { background: #eeeeee; }

a#oo_launch_prompt { background: #006633; }
a#oo_launch_prompt:hover { background: #009966; }

#oo_close_prompt { position: absolute; display: block; background: white; height: 20px; width: 20px; border: 1px solid #cccccc; cursor: pointer; right: 5px; top: 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; transition: background 0.5s; -moz-transition: background 0.5s; -webkit-transition: background 0.5s; -o-transition: background 0.5s; font: 14px/20px Tahoma, Arial, Helvetica, sans-serif; text-align: center; }
#oo_close_prompt:hover { background: #eeeeee; }
#oo_close_prompt .screen_reader { color: transparent; display: block; position: relative; height: 0; width: 0; line-height: 0; overflow: hidden; }

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 480px) { /* Styles */
  html body #oo_invitation_prompt { -webkit-text-size-adjust: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 90%; padding: 3%; } }
/*@media all and (-webkit-min-device-pixel-ratio: 2) { #oo_ol_brand { background: url(oo_inv_opinionlab@2x.png) bottom right no-repeat; -webkit-background-size: 85px 13px; } }*/
#oo_overlay, #oo_invitation_overlay { background: black url(oo_loading.gif) 50% 80px no-repeat; display: block; height: 1000%; left: 0; position: fixed; top: 0; width: 100%; z-index: 999998; opacity: 0.5; filter: alpha(opacity=50); }
#oo_overlay.no_loading, #oo_invitation_overlay.no_loading { background: black; opacity: 0.5; filter: alpha(opacity=50); }

@media print { #oo_bar, .oo_feedback_float, #oo_tab { display: none; } }

/* RWD changes */
.res_Medium #oo_tab, .res_Small #oo_tab{top:0%;margin-top:-8em; margin-bottom:-50px;float:left;transform-origin: bottom; -webkit-transform-origin: bottom; -moz-transform-origin: bottom; -ms-transform-origin: bottom; -o-transform-origin: bottom; position:relative !important;width:25px; transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg);-o-transform: rotate(90deg);border:0 !important;border-bottom: 2px solid #FFFFFF !important;border-top: 2px solid #FFFFFF !important; border-left: 2px solid #FFFFFF !important;height:110px;padding:0px}
.res_Medium .oo_tab_right, .res_Small .oo_tab_right{right:0;}
.res_Medium .oo_tab_right:hover, .res_Small .oo_tab_right:hover{right:0;width: 32px !important; transition: all 300ms ease;-webkit-transition: all 300ms ease;-moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;}
.res_Medium #oo_tab {left:42%;}
.res_Medium.res_700 #oo_tab {left:41%;}
.res_Small.res_650 #oo_tab{left:40%;}
.res_600 #oo_tab{left:39%;}
.res_550 #oo_tab{left:38%;}
.res_500 #oo_tab{left:37%;}
.res_450 #oo_tab{left:35%;} 
.res_400 #oo_tab{left:34%;} 
.res_300 #oo_tab {left:29%;} 
.res_350 #oo_tab{left:32%;}
.res_250 #oo_tab{left:25%;}
.res_200 #oo_tab{left:18%;}
.res_150 #oo_tab{left:12%;}
.res_Large.res_800 #oo_tab,.res_Large.res_850 #oo_tab, .res_Large.res_950 #oo_tab,.res_Large.res_900 #oo_tab, .res_Large.res_1000 #oo_tab{margin-top:0;margin-bottom:0;background-color: #3F9C35; border: 2px solid #ffffff; display: block; position: fixed !important; top: 40%; padding: 55px 0px 55px 0px; _height: 110px; _padding: 0px; _top: 45%; width: 35px; z-index: 999995; cursor: pointer;}
.res_Small.moveRt #oo_tab{display:none;}
.res_Small.shiftRt #oo_tab{display:none;}
html.fullHt body.res_Small #oo_tab{display:none;}